[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"
uritemplate = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
dj-rest-auth = "4.0.1"
django-allauth = "0.54.0"
requests = "*"
"backports.weakref" = "*"
wheel = "*"
openai = "*"
nltk = "*"
redis = "*"
rq = "*"
django-rq = "*"

[requires]
python_version = "3.9.1"

[scripts]
migrate = "python3 manage.py migrate"
