[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
colorama = "==0.4.6"

[packages]
django = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"
uritemplate = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
dj-rest-auth = "4.0.1"
django-allauth = "0.54.0"
requests = "*"
"backports.weakref" = "*"
wheel = "*"
valkey = "*"
structlog = "==23.1.0"
django-structlog = "==5.0.0"
python-json-logger = "==2.0.7"
opensearch-py = "==2.3.0"
python-logstash = "==0.4.8"
uuid = "==1.30"
python-dateutil = "==2.8.2"

[requires]
python_version = "3.11.11"

[scripts]
migrate = "python3 manage.py migrate"
